@()

@nobanner_template("利率计算器") {
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
            <tr class="form-table-cell">
                <td class="col-xs-3">
                    <div class="left">
                        <span>贷款金额</span>
                    </div>
                </td>
                <td class="col-xs-9">
                    <div class="left">
                        <input type="tel" name="amount" id="amount" placeholder="请输入贷款金额" required="required" autocorrect="off" autocapitalize="off" autocomplete="off"/>
                        <span>万元</span>
                    </div>
                </td>
            </tr>
            <tr class="form-table-cell">
                <td class="col-xs-3">
                    <div class="left">
                        <span>还款期限</span>
                    </div>
                </td>
                <td class="col-xs-9">
                    <div class="left">
                        <select id="loanDuration" name="periloanDurationod" data-mobile="true" style="width: 100%">
                            <option value="3" selected="selected">3月</option>
                            <option value="6">6月</option>
                            <option value="12">12月</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr class="form-table-cell">
                <td class="col-xs-3">
                    <div class="left">
                        <span>还款方式</span>
                    </div>
                </td>
                <td class="col-xs-9">
                    <div class="left">
                        <select id="loanRepayMethod" name="loanRepayMethod" data-mobile="true" style="width: width:100%">
                            <option value="1" selected="selected">按月还息到期还本</option>
                            <option value="2">等额本息还款</option>
                            <option value="3">等额本金还款</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr class="form-table-cell">
                <td class="col-xs-3">
                    <div class="left">
                        <span>贷款年利率</span>
                    </div>
                </td>
                <td class="col-xs-9">
                    <div class="left">
                        <input type="tel" name="rate" id="rate" placeholder="请输入贷款利率" required="required" autocorrect="off" autocapitalize="off" autocomplete="off"/>
                        <span>%</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-10">
            <button class="btn btn-lg btn-primary btn-block" type="button" onclick="javascript:calculate()">计算收益</button>
        </div>
        <div class="col-xs-1">&nbsp;</div>
    </div>
    <div class="row hidden" id="result-block-spacer-before">&nbsp;</div>
    <div class="row hidden" id="result-block">
        <table cellpadding="0" cellspacing="0" border="0" class="table" id="result"></table>
    </div>
    <div class="row hidden" id="result-block-spacer-after">&nbsp;</div>

    <script type="text/javascript">
            function calculate() {
                var method = parseFloat($('#loanRepayMethod')[0].value);
                var amount = parseFloat($('#amount')[0].value * 10000);
                var period = parseFloat($('#loanDuration')[0].value);
                var rate = parseFloat($('#rate')[0].value / 100.0);

                if (amount <= 0) {
                    alert('贷款金额不能小于1');
                    return;
                } else if (rate <= 0) {
                    alert('贷款年利率不能小于1');
                    return;
                }

                var remaining = amount;

                $('#result').empty().append(
                        '<tr class="form-table-cell">' +
                        '<td class="col-xs-2">期数</td>' +
                        '<td class="col-xs-2">月供</td>' +
                        '<td class="col-xs-2">月本金</td>' +
                        '<td class="col-xs-2">月利息</td>' +
                        '</tr>'
                );

                for (var i = 0; i < period; i ++) {
                    var interest = 1;
                    var monthlyPrincipal = 0;
                    var monthlyPayment = 0;

                    if (method == 1) {
                        interest = parseFloat(amount * (rate / 12)).toFixed(2);
                        monthlyPrincipal = 0.0;
                        monthlyPayment = (parseFloat(monthlyPrincipal) + parseFloat(interest)).toFixed(2);
                    } else if (method == 2) {
                        monthlyPayment = (amount * (rate / 12) * Math.pow(1 + (rate / 12), period) / (Math.pow(1 + (rate / 12), period)-1)).toFixed(2);
                        interest = parseFloat(remaining * (rate / 12)).toFixed(2);
                        monthlyPrincipal = parseFloat(monthlyPayment - interest).toFixed(2);
                        remaining = parseFloat(remaining - monthlyPrincipal).toFixed(2);
                    } else if (method == 3) {
                        interest = parseFloat(remaining * (rate / 12)).toFixed(2);
                        monthlyPrincipal = parseFloat(amount / period).toFixed(2);
                        monthlyPayment = (parseFloat(monthlyPrincipal) + parseFloat(interest)).toFixed(2);
                        remaining = (parseFloat(remaining) - parseFloat(monthlyPrincipal)).toFixed(2);
                    }

                    if (i == period - 1) {
                        remaining = 0.0;

                        if (method == 1) {
                            monthlyPrincipal = amount;
                            monthlyPayment = (parseFloat(monthlyPrincipal) + parseFloat(interest)).toFixed(2);
                        }
                    }

                    $('#result').append(
                            '<tr class="form-table-cell">' +
                            '<td class="col-xs-2">' + (i + 1) + '</td>' +
                            '<td class="col-xs-2">' + monthlyPayment + '</td>' +
                            '<td class="col-xs-2">' + monthlyPrincipal + '</td>' +
                            '<td class="col-xs-2">' + interest + '</td>' +
                            '</tr>'
                    );
                }

                $('#result-block').removeClass('hidden');
                $('#result-block-spacer-before').removeClass('hidden');
                $('#result-block-spacer-after').removeClass('hidden');
            }
    </script>
}