@()

@nobanner_template("预约资料清单") {
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">办理人：产权人本人 <small>(已婚为夫妻双方)</small></div>
                <div class="panel-body">
                    <h5>必备材料</h5>
                    <ul class="list-group">
                        <li class="list-group-item">身份证原件</li>
                        <li class="list-group-item">房产证原件</li>
                        <li class="list-group-item">户口本原件</li>
                        <li class="list-group-item">个人征信报告详细版查询征信点</li>
                        <li class="list-group-item">出租需提供《抵押物租赁合同》</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">办理人：产权人夫妻</div>
                <div class="panel-body">
                    <h5>必备材料 <small>(需夫妻双方材料)</small></h5>
                    <ul class="list-group">
                        <li class="list-group-item">身份证原件</li>
                        <li class="list-group-item">房产证原件</li>
                        <li class="list-group-item">户口本原件</li>
                        <li class="list-group-item">结婚证原件</li>
                        <li class="list-group-item">个人征信报告详细版查询征信点</li>
                        <li class="list-group-item">出租需提供《抵押物租赁合同》</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">办理人：产权人夫妻</div>
                <div class="panel-body">
                    <h5>必备材料 <small>(需夫妻双方材料)</small></h5>
                    <ul class="list-group">
                        <li class="list-group-item">身份证原件</li>
                        <li class="list-group-item">房产证原件</li>
                        <li class="list-group-item">户口本原件</li>
                        <li class="list-group-item">结婚证原件</li>
                        <li class="list-group-item">个人征信报告详细版查询征信点</li>
                        <li class="list-group-item">产权人离婚证原件</li>
                        <li class="list-group-item">产权人离婚协议或法院判决书（对此套房产有明确归属权说明）</li>
                        <li class="list-group-item">原始购房合同（回迁房、房改房、经适房、央产房、成本价房必须提供）</li>
                        <li class="list-group-item">出租需提供《抵押物租赁合同》</li>
                    </ul>
                    <h5>如借款人本人非产权人，则借款人需到场，并提供借款人户口本、身份证、征信报告详细版
                        附加材料：（有助于您的业务办理）</h5>
                    <ul class="list-group">
                        <li class="list-group-item">大额存单</li>
                        <li class="list-group-item">车辆证明</li>
                        <li class="list-group-item">二套房产证明</li>
                        <li class="list-group-item">大额理财产品证明</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">办理人：产权人本人</div>
                <div class="panel-body">
                    <h5>必备材料</h5>
                    <ul class="list-group">
                        <li class="list-group-item">身份证原件</li>
                        <li class="list-group-item">房产证原件</li>
                        <li class="list-group-item">户口本原件（需已变更为“离异”）</li>
                        <li class="list-group-item">个人征信报告详细版查询征信点</li>
                        <li class="list-group-item">离婚证或法院判决书（对此套房产有明确归属权说明）</li>
                        <li class="list-group-item">原始购房合同（回迁房、房改房、经适房、央产房、成本价房必须提供）</li>
                        <li class="list-group-item">抵押物租赁合同（出租必须提供）</li>
                    </ul>
                    <p>
                        <small>如借款人本人非产权人，则借款人需到场，并提供借款人户口本、身份证、征信报告详细版
                            附加材料：（有助于您的业务办理）</small>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">大额存单</li>
                        <li class="list-group-item">车辆证明</li>
                        <li class="list-group-item">二套房产证明</li>
                        <li class="list-group-item">大额理财产品证明</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">办理人：产权人本人</div>
                <div class="panel-body">
                    <h4>必备材料</h4>
                    <ul class="list-group">
                        <li class="list-group-item">身份证原件</li>
                        <li class="list-group-item">房产证原件</li>
                        <li class="list-group-item">户口本原件（需已变更为“丧偶”）</li>
                        <li class="list-group-item">房产遗产继承公证</li>
                        <li class="list-group-item">配偶死亡证明</li>
                        <li class="list-group-item">配偶死亡后的婚姻状况证明</li>
                        <li class="list-group-item">原始购房合同（回迁房、房改房、经适房、央产房、成本价房必须提供）</li>
                        <li class="list-group-item">抵押物租赁合同（出租必须提供）</li>
                    </ul>
                    <p>
                        <small>如借款人本人非产权人，则借款人需到场，并提供借款人户口本、身份证、征信报告详细版
                            附加材料：（有助于您的业务办理）</small>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">大额存单</li>
                        <li class="list-group-item">车辆证明</li>
                        <li class="list-group-item">二套房产证明</li>
                        <li class="list-group-item">大额理财产品证明</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}