@()

@nobanner_template("抵押流程") {
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">01 <b>在线评估</b></div>
                <div class="panel-body">
                    注册，点击快速评房，填写房屋地址、房抵类型、为您实现在线评房。
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">02 <b>面签、面审</b></div>
                <div class="panel-body">
                    实地勘察房产、收集资料并面签面审
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">03 <b>公证、抵押</b></div>
                <div class="panel-body">
                    公证:陪同借款人到公证处办理公证<br/>
                    抵押:房管局办理抵押登记
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">04 <b>放款</b></div>
                <div class="panel-body">
                    见抵押登记受理单,立即放款
                </div>
            </div>
        </div>
    </div>
}