@(form: Form[Branch], branchId: Long)

@title() = @{
    if (branchId < 0) "添加渠道" else "编辑渠道"
}

@button_text() = @{
    if (branchId < 0) "添加" else "编辑"
}

@action() = @{
    if (branchId < 0) routes.BranchController.doAdd() else routes.BranchController.doEdit(branchId)
}

@main("添加渠道") {
    <div class="row">
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
            @if(flash().containsKey("error")) {
                <div class="alert alert-danger" role="alert">@flash().get("error")</div>
            }

            @helper.form(action = action(), args = 'autocomplete -> "false") {
                @helper.CSRF.formField
                <label for="name">渠道名字</label>
                <input type="name" name="name" id="inputName" class="form-control" placeholder="惠金所" autofocus required value="@form.field("name").value()">
                <br/>
                <label for="code">渠道号码</label>
                <input type="code" name="code" id="inputCode" class="form-control" placeholder="1234" required value="@form.field("code").value()">
                <br/>
                <button class="btn btn-primary btn-block" type="submit">@button_text()</button>
            }
        </div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
}