@(branches: Collection[Branch])

@main("渠道管理") {
    @if(common.Utils.isRole(User.Function.ADMIN)) {
        <div class="row">
            <div class="col-lg-4">
                <a href="@routes.BranchController.showAdd()" class="btn btn-sm btn-success">+ 添加机构</a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>机构代码</th>
                        <th>机构名称</th>
                        <th>状态</th>
                        @if(common.Utils.isRole(User.Function.ADMIN)) {
                            <th>操作</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(branch <- branches) {
                    <tr>
                        <td><p>@branch.id</p></td>
                        <td><p>@branch.code</p></td>
                        <td><p>@branch.name</p></td>
                        <td>
                        @if(branch.enabled) {
                            <p class="text-success">正常</p>
                        } else {
                            <p class="text-danger">关闭</p>
                        }
                        </td>
                        @if(common.Utils.isRole(User.Function.ADMIN)) {
                            <td>
                                <a class="btn btn-info btn-sm" href="@routes.BranchController.toggle(branch.id)">
                                @if(branch.enabled) {
                                    关闭
                                } else {
                                    开启
                                }
                                </a>
                                <a class="btn btn-info btn-sm" href="@routes.BranchController.showEdit(branch.id)">修改</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}