@(form: Form[User], userId: Long, branches: Collection[Branch])

@title() = @{
    if (userId < 0) "添加用户" else "编辑用户"
}

@button_text() = @{
    if (userId < 0) "添加" else "编辑"
}

@action() = @{
    if (userId < 0) routes.UserController.doAdd() else routes.UserController.doEdit(userId)
}

@selected_branch_id() = @{
    if (userId < 0) branches.head.id else form.get().branch.id
}

@selected_role() = @{
    if (userId < 0) User.Function.USER else form.get().role
}

@main(title()) {
    <div class="row">
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
            @if(flash().containsKey("error")) {
                <div class="alert alert-danger" role="alert">@flash().get("error")</div>
            }

            @helper.form(action = action(), args = 'autocomplete -> "false") {
                @helper.CSRF.formField
                <label for="name">名字</label>
                <input type="name" name="name" id="inputName" class="form-control" placeholder="张三" autofocus required value="@form.field("name").value()">
                <br/>
                <label for="phone">电话号码</label>
                <input type="phone" name="phone" id="inputPhone" class="form-control" placeholder="13902010101" required value="@form.field("phone").value()">
                <br/>
                <label for="phone">身份证</label>
                <input type="identification" name="identificationNumber" id="inputIdentification" class="form-control" placeholder="333333333333333333" required value="@form.field("identificationNumber").value()">
                <br/>
                @if(userId < 0) {
                    <label for="password">密码</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="****" required>
                    <br/>
                }
                <label for="phone">渠道</label>
                @fragments.branch_select(branches, selected_branch_id())
                <br/>
                <label for="phone">权限</label>
                @fragments.role_select(selected_role())
                <br/>
                <button class="btn btn-primary btn-block" type="submit">@button_text()</button>
            }

        </div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
}