@(users : Collection[User])

@main("用户管理") {
    @if(common.Utils.isRole(User.Function.ADMIN)) {
        <div class="row">
            <div class="col-lg-4">
                <a href="@routes.UserController.showAdd()" class="btn btn-sm btn-success">+ 添加用户</a>
                <a href="@routes.UserController.refreshReferralQRCode()" class="btn btn-sm btn-success">+ 刷新邀请码</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>身份证</th>
                        <th>权限</th>
                        <th>渠道</th>
                        <th>状态</th>
                        @if(common.Utils.isRole(User.Function.ADMIN)) {
                            <th>操作</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(user <- users) {
                    <tr>
                        <td><p>@user.id</p></td>
                        <td><p>@user.name</p></td>
                        <td><p>@user.phone</p></td>
                        <td><p>@user.identificationNumber</p></td>
                        <td><p>@user.role.value</p></td>
                        <td><p>@user.branch.name</p></td>
                        <td>
                        @if(user.enabled) {
                            <p class="text-success">正常</p>
                        } else {
                            <p class="text-danger">停用</p>
                        }
                        </td>
                        @if(common.Utils.isRole(User.Function.ADMIN)) {
                            <td>
                                <a class="btn btn-info btn-sm" href="@routes.UserController.toggle(user.id)">
                                @if(user.enabled) {
                                    停用
                                } else {
                                    解禁
                                }
                                </a>
                                <a class="btn btn-info btn-sm" href="@routes.UserController.showEdit(user.id)">修改</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}