@(branches : Collection[Branch], selectedBranchId : Long)

<select name="branch.id" class="form-control">
    @for(b <- branches) {
        <option name="@b.name" value="@b.id" @{if(selectedBranchId == b.id) "selected"}>@b.name (@b.code)</option>
    }
</select>

