@(pageableObject: PageableObject)

<nav aria-label="Page navigation">
    <ul class="pagination">
        @for(i <- 1 to pageableObject.maxPage()) {
            @if(i == pageableObject.page) {
                <li class="active">
                    <span>@i <span class="sr-only"></span></span>
                </li>
            } else {
                <li>
                    <a href="@routes.ApplicationController.index(i)"><span>@i <span class="sr-only"></span></span></a>
                </li>
            }

        }
    </ul>
</nav>