@(role : User.Function)

<select name="role" class="form-control">
    @for(e <- User.functions) {
        <option name="@e.value" value="@e.name" @{if(role.name == e.name) "selected"} >@e.value</option>
    }
</select>
