@(pageable : PageableObject)

@main("申请列表") {
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>金额</th>
                        <th>期限</th>
                        <th>地址</th>
                        <th>估值</th>
                        <th>申请人</th>
                        <th>业务员</th>
                        <th>渠道</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for(app <- pageable.items.asInstanceOf[Collection[Application]]) {
                        <tr>
                            <td>@app.id</td>
                            <td>@app.amount</td>
                            <td>@app.duration</td>
                            <td>@app.address</td>
                            <td>@app.valuation.amount</td>
                            <td>@app.applicant.name</td>
                            <td>@app.agent.name</td>
                            <td>@app.agent.branch.name</td>
                            <td>@app.status.text</td>
                            <td><a href="@routes.ApplicationController.view(app.id)">查看</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            @fragments.pageable(pageable)
        </div>
    </div>
}