@(application : Application, user : User, status1 : Application.Status, status2 : Application.Status)

@main("查看详情") {
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3">
                        <button class="btn btn-default">@application.status.text</button>
                    </div>
                    <div class="col-lg-9 text-right">
                        @if(status1 != null) {
                            <a href="@routes.ApplicationController.action(application.id, true)" class="btn btn-success">@status1.text</a>
                        }

                        @if(status2 != null) {
                            <a href="@routes.ApplicationController.action(application.id, false)" class="btn btn-danger">@status2.text</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">申请人信息</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="col-lg-3">姓名</td><td class="col-lg-9">@application.applicant.name</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">电话</td><td class="col-lg-9">@application.applicant.phone</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">身份证</td><td class="col-lg-9">@application.applicant.identificationNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">业务人员信息</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="col-lg-3">姓名</td><td class="col-lg-9">@application.agent.name</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">电话</td><td class="col-lg-9">@application.agent.phone</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">渠道</td><td class="col-lg-9">@application.agent.branch.name</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">贷款申请信息</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="col-lg-3">金额</td><td class="col-lg-9">@application.amount</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">地址</td><td class="col-lg-9">@application.address</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">期限</td><td class="col-lg-9">@application.duration</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">种类</td><td class="col-lg-9">@(application.`type`.text)</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">状态</td><td class="col-lg-9">@(application.status.text)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">抵押估值</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="col-lg-3">金额</td><td class="col-lg-9">@application.valuation.amount</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">面积</td><td class="col-lg-9">@application.valuation.size</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">均价</td><td class="col-lg-9">@application.valuation.averagePrice</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">最低价</td><td class="col-lg-9">@application.valuation.minPrice</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">最高价</td><td class="col-lg-9">@application.valuation.maxPrice</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">单价</td><td class="col-lg-9">@application.valuation.unitPrice</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">证件资料</h3>
                </div>
                <div class="panel-body">
                    <img src="@application.applicationMedia.identificationFront.source" alt="身份证正面" class="img-thumbnail">
                    <img src="@application.applicationMedia.identificationBack.source" alt="身份证反面" class="img-thumbnail">
                    <img src="@application.applicationMedia.huKouFront.source" alt="户口正面" class="img-thumbnail">
                    <img src="@application.applicationMedia.hukouBack.source" alt="户口反面" class="img-thumbnail">
                    <img src="@application.applicationMedia.deed.source" alt="房产证" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">其他资料</h3>
                </div>
                <div class="panel-body">
                    @for(m <- application.applicationMedia.extraMedia) {
                        <img src="@m.source" alt="其他" class="img-thumbnail">
                    }
                </div>
            </div>
        </div>
    </div>
}