@(user: User)

@main("Welcome to Play") {
    <div class="col-lg-12">
        你好<b>@user.name</b>, 当前权限为<b>@user.role.value</b>
        <br/><br/>
        邀请业务员请用以下二维码, 或者分享链接
        <br/><br/>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="@routes.UserController.showReferralQRCode()" alt="邀请码"/>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="word-wrap: break-word">
                    <b>@routes.RegisterController.showAdd(user.referralCode).absoluteURL(ctx().request())</b>
                </div>
            </div>
        </div>
    </div>
}
