@()

@nobanner_template("登录") {
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
            @if(flash().containsKey("error")) {
                <div class="alert alert-danger" role="alert">@flash().get("error")</div>
            }

            @helper.form(action = routes.HomeController.doLogin()) {
                @helper.CSRF.formField
                <h4 class="form-signin-heading">请登录</h4>
                <label for="inputPhone" class="sr-only">手机号码</label>
                <input type="phone" name="phone" id="inputPhone" class="form-control" placeholder="手机号码" required autofocus>
                <br/>
                <label for="inputPassword" class="sr-only">密码</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="******" required>
                <br/>
                <button class="btn btn-primary btn-block" type="submit">登录</button>
            }
        </div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
}
