@()

@nobanner_template("注册成功") {
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
            注册成功！！
        </div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
}