@(form: Form[UserCreateRequest], user: User)

@nobanner_template("注册新用户") {
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
            @if(flash().containsKey("error")) {
                <div class="alert alert-danger" role="alert">@flash().get("error")</div>
            }

            @helper.form(action = routes.RegisterController.doAdd(user.referralCode), args = 'autocomplete -> "false") {
                @helper.CSRF.formField
                <label for="name">名字</label>
                <input type="name" name="name" id="inputName" class="form-control" placeholder="张三" autofocus required value="@form.field("name").value()">
                <br/>
                <label for="phone">电话号码</label>
                <input type="phone" name="phone" id="inputPhone" class="form-control" placeholder="13902010101" required value="@form.field("phone").value()">
                <br/>
                <label for="identification">身份证</label>
                <input type="identification" name="identificationNumber" id="inputIdentification" class="form-control" placeholder="333333333333333333" required value="@form.field("identificationNumber").value()">
                <br/>
                <label for="password">密码</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="****" required>
                <br/>
                <label for="phone">加入渠道</label>
                <input type="dummy" name="dummy" id="dummy" class="form-control" placeholder="dummy"  value="@user.branch.name" disabled>
                <br/>
                <button class="btn btn-primary btn-block" type="submit">注册</button>
            }

        </div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
}